<html ng-app="ionicApp">

<ion-view title="Extrato" id="page15" style="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>Extrat</title>

   <!-- <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">-->
    <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
    <script src="http://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="http://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"></script>
    <script type="lib/ionic/js/ionic.bundle.js"></script>
    <!--<link rel="stylesheet" type="text/css" href="lib/ionic/css/ionic.css">-->
    <script src="//"></script>
 </head>

  <body ng-controller="MyCtrl as ctrl">
    <ion-header-bar class="bar-stable">
        <h1 class="title">Service Provider Details</h1>
    </ion-header-bar>
    <ion-content>
        <div class="row header">
          <div class="col">Data</div>
          <div class="col">Valor</div>
        </div>
        <div class="row" ng-repeat="data in ctrl.data">
          <div class="col">{{data.data}}</div>
          <div class="col">{{data.valor}}</div>
        </div>
    </ion-content>
  </body>
  </ion-view>

</html>

