<ion-view title="Inicio" id="page10" style="background-color: rgb(237, 8, 58);">
    <ion-content class="has-header" padding="true" style="background: url(img/MeUjzLDyQPSHZmVDWmyb_background20sem20logo.png) no-repeat center;background-size:cover;">
    <div class="spacer" style="width: 290px; height: 80px;"></div>
    <div>
      <img src="img/4pLz7DpTQWNCzSC28NHA_LogoIru.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 290px; height: 66px;"></div>
    <b ui-sref="login" id="inicio-button1" class="button  button-block">Bem-vindo!</b>
  </ion-content>
</ion-view>