<ion-view title="Login" id="page9" style="background-color: rgb(237, 8, 58);">
    <ion-content class="has-header" padding="true" style="background: url(img/MeUjzLDyQPSHZmVDWmyb_background20sem20logo.png) no-repeat center;background-size:cover;">
    <form id="login-form" class="list">
      <ion-list id="login-list2">
        <div class="spacer" style="height: 80px;"></div>
        <label class="item item-input">
          <span class="input-label">Matrícula:</span>
           <input name="matricula2" placeholder="42/4242424" type="text" onkeyup="maskMatriculaLogin(this);" maxlength="10" id="matricula">
        </label>
        <span class='msg-erro msg-matricula' style="color:white;text-align:left"></span>
        <label class="item item-input">
          <span class="input-label">Senha:</span>
          <input placeholder="Mínimo de 6 caracteres" type="password" id="password">
        </label>
        <span class='msg-error msg-password' style="color:white;text-align:left"></span>
      </ion-list>
     <div class="spacer" style="height: 5px;"></div>
      <a id="login-button5" class="button button-dark  button-block" ng-click="entrar()">Entrar</a>
      <div class="spacer" style="height: 30px;"></div>
      <a ui-sref="signup" id="login-button6" class="button button-stable button-block">Criar conta</a>
      <button ui-sref="fpassword" id="login-button7" class="button button button-block">Esqueci minha senha</button>
    </form>
  </ion-content>
</ion-view>
