<ion-view title="Nova Senha" id="page11" style="background-color: rgb(237, 8, 58);">
    <ion-content class="has-header" padding="true" style="background: url(img/MeUjzLDyQPSHZmVDWmyb_background20sem20logo.png) no-repeat center;background-size:cover;">
    <div class="spacer" style="width: 290px; height: 80px;"></div>
    <form id="login-form" class="list">
      <ion-list id="login-list2">
        <div class="spacer" style="height: 80px;"></div>
        <label class="item item-input">
          <span class="input-label">Matrícula:</span>
           <input name="matricula2" placeholder="42/4242424" type="text" onkeyup="maskMatriculaLogin(this);" maxlength="10" id="cmatricula">
        </label>
        <span class='msg-erro msg-matricula' style="color:white;text-align:left"></span>
        <label class="item item-input">
          <span class="input-label">Nova senha:</span>
           <input placeholder="Mínimo de 6 caracteres" type="password" id="npassword">
        </label>
        <label class="item item-input">
          <span class="input-label">Confirmar nova senha:</span>
          <input placeholder="Mínimo de 6 caracteres" type="password" id="cnpassword">
        </label>
        <span class='msg-error msg-password' style="color:white;text-align:left"></span>        
      </ion-list>
     <div class="spacer" style="height: 35px;"></div>
      <a id="login-button5" class="button button-dark  button-block" ng-click="sendnewpassword()">Enviar</a>
    </form>
  </ion-content>
</ion-view>