<ion-view title="Esqueceu sua senha?" id="page22" style="background-color: rgb(66, 135, 19);">
  <ion-content padding="true" class="has-header">
  <form id="contact-form" class="list">
  <form name="contact-form" id="dados-form" class="list">
  	<ion-list id="dados-list">
    <div class="spacer" style="width: 290px; height: 150px;"></div>
  	<label class="item item-input">
        <span class="input-label">Digite seu email: </span>
        <input placeholder="exemplo@exemplo.com.br" type="text" id="emailconfirm">
    </label>
    <div class="spacer" style="width: 290px; height: 50px;"></div>
    <label class="item item-input">
        <span class="input-label">Digite seu cpf: </span>
        <input placeholder="exemplo@exemplo.com.br" type="text" id="cpfconfirm">
    </label>
    <div class="spacer" style="width: 290px; height: 40px;"></div>
      <b id="senddatas" class="button button-stable button-block" ng-click='forgottenpassword()'>Enviar</b>
  </ion-content>
</ion-view>