<ion-view title="Presentear" id="page22" style="background-color: rgb(66, 135, 19);">
  <ion-content padding="true" class="has-header">
  <form id="contact-form" class="list">
  <form name="contact-form" id="dados-form" class="list">
  	<ion-list id="dados-list">
    <div class="spacer" style="width: 290px; height: 30px;"></div>
    <label class ="item item-input">
          <span class="input-label">Matricula para presentar:</span>
          <input placeholder="Ex:00/0000000" type="text" maxlenght="15" id="matriculagift">
    </label>
    <div class="spacer" style="width: 290px; height: 25px;"></div>
  	<label class="item item-input">
          <span class="input-label">Quantidade de refeições:</span>
          <input placeholder="Ex:1,2,3,4..." type="text" maxlength="50" id="qtrefeicoesgift">
    </label>
    <div class="spacer" style="width: 290px; height: 25px;"></div>
    <label class ="item item-input">
          <span class="input-label">Confirme sua senha:</span>
          <input placehold="Sua senha" type="password" maxlength="" id="confirmpassword">
    </label>
    <div class="spacer" style="width: 290px; height: 25px;"></div>
      <b id="senddatas" class="button button-stable button-block" ng-click='showConfirm()'>Enviar</b>
  </ion-content>
</ion-view>