<ion-view title="Lotação do RU" id="page22" style="background-color: rgb(66, 135, 19);">
  <ion-content padding="true" class="has-header">
  <form id="contact-form" class="list">
  <form name="contact-form" id="dados-form" class="list">
  	<ion-list id="dados-list">
    <div class="spacer" style="width: 290px; height: 80px;"></div>
  	<label class="item item-output">
        <span class="output-label">Refeitorio 1:</span>
        <output type="text">
    </label>
        <div class="spacer" style="width: 290px; height: 20px;"></div>
    <label class="item item-output">
        <span class="output-label">Refeitorio 2:</span>
        <output type="text">
    </label>
        <div class="spacer" style="width: 290px; height: 20px;"></div>
    <label class="item item-output">
        <span class="output-label">Refeitorio 3:</span>
        <output type="text">
    </label>
        <div class="spacer" style="width: 290px; height: 20px;"></div>
    <label class="item item-output">
        <span class="output-label">Refeitorio 4:</span>
        <output type="text">
    </label>
    <div class="spacer" style="width: 290px; height: 20px;"></div>
    <label class="item item-output">
        <span class="output-label">Refeitorio 5:</span>
        <output type="text">
    </label>
    <div class="spacer" style="width: 290px; height: 20px;"></div>
    <label class="item item-output">
        <span class="output-label">Refeitorio 6:</span>
        <output type="text">
    </label>
    <div class="spacer" style="width: 290px; height: 40px;"></div>
  </ion-content>
</ion-view>